body {
  background-color: #9f9da7;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #2b3e51;
  height: 100vh;
}

h2 {
  font-weight: 300;
  text-align: center;
}

p {
  position: relative;
}

a {
  &:link, &:visited, &:active {
    color: #3ca9e2;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
}

#login-form-wrap {
  background-color: #fff;
  width: 35%;
  margin: 30px auto;
  text-align: center;
  padding: 1vh 0 0 0;
  border-radius: 4px;
  box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.2);
}

#login-form-background {
  padding: 15vh 0 0 0;
}

#login-form {
  padding: 0 60px;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;

  &[type="text"], &[type="password"] {
    width: 100%;
    padding: 0 0 0 10px;
    margin: 0;
    color: #8a8b8e;
    border: 1px solid #c2c0ca;
    font-style: normal;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: inline-block;
    background: none;

    &:focus {
      border-color: #3ca9e2;

      &:invalid {
        color: #cc1e2b;
        border-color: #cc1e2b;
      }
    }

    &:valid ~ .validation {
      display: block;
      border-color: #0C0;

      span {
        background: #0C0;
        position: absolute;
        border-radius: 6px;

        &:first-child {
          top: 30px;
          left: 14px;
          width: 20px;
          height: 3px;
          transform: rotate(-45deg);
        }

        &:last-child {
          top: 35px;
          left: 8px;
          width: 11px;
          height: 3px;
          transform: rotate(45deg);
        }
      }
    }
  }
}

.validation {
  display: none;
  position: absolute;
  content: " ";
  height: 60px;
  width: 30px;
  right: 15px;
  top: 25px;
}

input[type="submit"] {
  border: none;
  background-color: #3ca9e2;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 18px;
  position: relative;
  display: inline-block;
  text-align: center;

  &:hover {
    background-color: #329dd5;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  &:disabled{
    background-color: #9f9da7;
  }
}

#create-account-wrap {
  background-color: #eeedf1;
  color: #8a8b8e;
  font-size: 14px;
  width: 100%;
  padding: 10px 0;
  border-radius: 0 0 4px 4px;
}